<!DOCTYPE html>
<html>
<head>
    
</head>
<body style='background-color:black'>
    <h1 style='color:white;font-family:monospace' align=center>More Information</h1>
    <br>
    <br>
    <p style='color:white;font-family:monospace;font-size:20px'>
        &nbsp&nbsp&nbsp&nbsp Lung cancer is the leading cause of cancer death worldwide, accounting for 1.59 million deaths in 2018. The majority of lung cancer cases are attributed to smoking, but exposure to air pollution is also a risk factor. A new study has found that air pollution may be linked to an increased risk of lung cancer, even in nonsmokers.<br>
        &nbsp&nbsp&nbsp&nbspThe study, which was published in the journal Nature Medicine, looked at data from over 462,000 people in China who were followed for an average of six years. The participants were divided into two groups: those who lived in areas with high levels of air pollution and those who lived in areas with low levels of air pollution.
The researchers found that the people in the high-pollution group were more likely to develop lung cancer than those in the low-pollution group.<br>
&nbsp&nbsp&nbsp&nbsp They also found that the risk was higher in nonsmokers than smokers, and that the risk increased with age.
While this study does not prove that air pollution causes lung cancer, it does suggest that there may be a link between the two. More research is needed to confirm these findings and to determine what effect different types and levels of air pollution may have on lung cancer risk
        </p>
        <br>
        <br>
        <br>
    <h1 style='color:white;font-family:monospace' align=center>Info About the Data</h2><br>
    <p style='color:white;font-family:monospace;font-size:20px'>
        This dataset contains information on patients with lung cancer, including their age, air pollution exposure, alcohol use, dust allergy, occupational hazards, genetic risk, chronic lung disease, balanced diet, obesity, smoking status, passive smoker status, chest pain, coughing of blood, fatigue levels , dry coughs . By analyzing this data we can gain insight into what causes lung cancer.<br>
<br>
Age: The age of the patient. (Numeric)<br><br>
Gender: The gender of the patient. (Categorical)<br><br>
Air Pollution: The level of air pollution exposure of the patient. (Categorical)<br><br>
Alcohol use: The level of alcohol use of the patient. (Categorical)<br><br>
Dust Allergy: The level of dust allergy of the patient. (Categorical)<br><br>
OccuPational Hazards: The level of occupational hazards of the patient. (Categorical)<br><br>
Genetic Risk: The level of genetic risk of the patient. (Categorical)<br><br>
chronic Lung Disease: The level of chronic lung disease of the patient. (Categorical)<br><br>
Balanced Diet: The level of balanced diet of the patient. (Categorical)<br><br>
Obesity: The level of obesity of the patient. (Categorical)<br><br>
Smoking: The level of smoking of the patient. (Categorical)<br><br>
Passive Smoker: The level of passive smoker of the patient. (Categorical)<br><br>
Chest Pain: The level of chest pain of the patient. (Categorical)<br><br>
Coughing of Blood: The level of coughing of blood of the patient. (Categorical)<br><br>
Fatigue: The level of fatigue of the patient. (Categorical)<br><br>
Weight Loss: The level of weight loss of the patient. (Categorical)<br><br>
Shortness of Breath: The level of shortness of breath of the patient. (Categorical)<br><br>
Wheezing: The level of wheezing of the patient. (Categorical)<br><br>
Swallowing Difficulty: The level of swallowing difficulty of the patient. (Categorical)<br><br>
Clubbing of Finger Nails: The level of clubbing of finger nails of the patient. (Categorical)<br><br>
<br>
Levels:<br>
1 : No<br>
2 : Very Low<br>
3 : Low<br>
4 : Average<br>
5 : Above Average<br>
6 : High<br>
7 : Very High<br>
8 : Dangerous<br>
    </p>
</body>