body{
    background-color: black;
}

form{
    background-color: darkblue;
    color: white;
    text-align:center;
}

h2{
    color: white;
    font-family:Georgia;
    justify-content:center;
    display: flex;
}

label{
    color: white;
    font-family:monospace;
    font-size:30px;
    
}

select{
    width: 150px;
    height:30px;
    
}
input{
    width: 150px;
    height:30px;
}

.sub{
    backgorund-color:green;
}